@import '../../../sass/material-theme.scss';

.cohort-form {
  display: inline-flex;
  margin-right: 25px;
  margin-top: 3px;
}

/deep/ .cohort-form .mat-form-field-flex {
  background: accent(50);
  padding: 5px 10px 0px 10px;
  border-radius: 3px;
  width: 300px;
}

.helper-text {
  color: #73797d;
  font-size: 0.9em;
}
