<div class="centered">

  <h1>Privacy Notice for data.cvisb.org</h1>

  <div class="updated">
    updated: {{updated_date | date: 'd MMMM yyyy'}}
  </div>

  <section class="privacy about-text">
    <p>
      Your privacy is important to us, so we operate data.cvisb.org (“Site”) by the following principles:
    </p>

    <div class="privacy-group">
      <h4>Confidentiality</h4>

      <p>
        You may use our Site without disclosing personally identifiable information.
      </p>
    </div>

    <div class="privacy-group">
      <h4>Cookies</h4>

      <p>
        To enhance your experience on our Site, the Site uses cookies (a small file that uniquely identifies your browser) which helps track traffic coming to our Site, including visitor preferences and trends. This information used to make improvements to better
        serve our audience's needs.
      </p>

      <p>
        If you want to control which cookies you accept, you can configure your browser to accept all cookies or to alert you every time a cookie is offered by a website's server. Most browsers automatically accept cookies. You can set your browser option so
        that you will not receive cookies and you can also delete existing cookies from your browser. You may find that some parts of the site will not function properly if you have refused cookies.
      </p>

      <p>
        Please be aware that if you do not configure your browser you will accept cookies provided by this website.
      </p>
    </div>



    <div class="privacy-group">
      <h4>Aggregate Information</h4>
      <p>
        We may use general traffic, site usage, and length of stay information for statistical reporting and may share such reports with organizations with which we have a business relationship. This aggregate information does not personally identify you.
      </p>

    </div>

    <div class="privacy-group">
      <h4>Other Sites</h4>
      <p>
        This privacy policy applies only to your use of the Site. The Site contains links to third party sites, including sites that may indicate a special relationship with us. We are not responsible for the privacy practices of such other sites. You should
        read the privacy policies of each site you visit to determine what information that site may be collecting about you.
      </p>

    </div>

    <div class="privacy-group">
      <h4>Changes to Privacy Policy</h4>
      <p>
        Please review the Privacy Policy regularly. The Privacy Policy may change at any time. By using the Site after a change in the Privacy Policy, you agree to follow and be bound by the Privacy Policy as changed. If you do not want information about you
        used in a manner set forth in this Privacy Policy, please do not access or browse this Site.
      </p>

    </div>



  </section>
</div>
