<div class="centered">

  <h1>Privacy Notice for data.cvisb.org</h1>

  <div class="updated">
    updated: {{updated_date | date: 'd MMMM yyyy'}}
  </div>

  <section class="privacy about-text">
    <div class="about-group">
      <h4>Cookies</h4>
      <p>
        To enhance your experience on our site, many of our web pages use "cookies". Cookies are small text files that we place in your computer's browser to store your preferences. Cookies, by themselves, do not tell us your email address or other personal information
        unless you choose to provide this information to us by, for example, registering to use our service. Once you choose to provide a web page with personal information, this information may be linked to the data stored in the cookie. A cookie is
        like an identification card. It is unique to your computer and can only be read by the server that gave it to you.
      </p>

      <p>
        We use cookies to understand site usage and to improve the content and offerings on our site. For example, we may use cookies to personalize your experience on our web pages (e.g. to recognize you by name when you return to our site). We also may use
        cookies to offer you products and services.
      </p>

      <p>
        Cookies save you time as they help us to remember who you are. Cookies help us to be more efficient. We can learn about what content is important to you and what is not. We can revise or remove web pages that are not of interest and focus our energies
        on content you want.
      </p>
    </div>

    <div class="privacy-group">
      <h4>Consent</h4>
      <p class="emphasis">
        By continuing with this website you consent to cookies being used and agree to us using any data provided by you in any of our services.
      </p>

    </div>


    <div class="privacy-group">
      <h4>Google Analytics</h4>
      <p>
        data.cvisb.org uses Google Analytics to track user interaction. Learn more about <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank" rel="noreferrer">Google Analytics and cookie usage</a>.
      </p>

      <p>
        If you want to control which cookies you accept, you can configure your browser to accept all cookies or to alert you every time a cookie is offered by a website's server. Most browsers automatically accept cookies. You can set your browser option so
        that you will not receive cookies and you can also delete existing cookies from your browser. You may find that some parts of the site will not function properly if you have refused cookies.
      </p>

      <p>
        Please be aware that if you do not configure your browser you will accept cookies provided by this website.
      </p>

      <p>
        You can configure your browser to accept all cookies or to alert you every time a cookie is offered by a website's server.
      </p>
    </div>

  </section>
</div>
