@import '../../../sass/material-theme.scss';

// --- Header ---
.page-header {
  h1 {
    color: lighten($lassa-lt, 18%);
    -webkit-text-stroke-color: $lassa-color;
    -webkit-text-stroke-width: 1px;
  }

}
