# Python directories
__pycache__

sample-viewer-api/src/config.py
*.pyc
.DS_Store
*.sw*
notes/2018-10-01_cvisb-input.md
sample-viewer/package-lock.json
sample-viewer/src/assets/wp_style.css
sample-viewer-api/src/static/schemas/jsonschema/test_schema/*
sample-viewer-api/src/static/schemas/jsonschema/test_schema/Data-schema-v0.1.yaml
sample-viewer-api/src/static/schemas/templates/sample_viewer_template.csv
sample-viewer-api/src/static/schemas/templates/sample_viewer_template.xlsx
sample-viewer-api/src/static/schemas/schemaorg-20181004.jsonld
sample-viewer-api/src/static/geo/test_filters.svg
notes/samples notes.md
*.pem
*.key
*.crt
notes/performance/*

sample-viewer-api/src/static/data/*.xlsx
sample-viewer-api/src/static/data/*.xls
sample-viewer-api/src/static/data/*.csv
sample-viewer-api/src/static/data/*.json
sample-viewer-api/src/static/data/*.fasta
sample-viewer-api/src/static/data/**/*.fasta
sample-viewer-api/src/static/data/**/*.xlsx
sample-viewer-api/src/static/data/**/*.xls
sample-viewer-api/src/static/data/**/*.csv
sample-viewer-api/src/static/data/**/*.tsv
sample-viewer-api/src/static/data/**/*.json
sample-viewer-api/src/static/data/**/*.tre
sample-viewer-api/src/static/data/**/*.log
notes/*.md
notes/wordpress_css_link_underline.css
sample-viewer-api/src/static/data/clean_samples/exploratory_scripts/2019-05-06_prioritize4briney.py
sample-viewer-api/src/static/data/clean_patients/exploratory_scripts/2019-05-14_acuteEbola_dylanExploration.R
notes/2019-05-14_experiment-dataset-metadata.json
sample-viewer-api/src/static/schemas/cvisb_variables_2019-05-22.xlsx
sample-viewer-api/src/static/privacy/*
sample-viewer/src/assets/img/KGH_fullsize.jpeg
sample-viewer-api/src/static/geo/SLE/whosonfirst-data-latest.db
sample-viewer-api/src/static/data/clean_patients/exploratory_scripts/2019-10-10_IDsforBonnie.py
notes/CViSB-data-portal_performance.xlsx
notes/~$CViSB-data-portal_performance.xlsx
sample-viewer/src/app/test/test.component.spec.ts
sample-viewer/src/app/test/test.component.html
sample-viewer/src/app/test/test.component.scss
sample-viewer/src/app/test/test.component.ts
antiquated_code/*
sample-viewer/src/assets/geo/country2icon.R
sample-viewer/src/assets/robots.txt
sample-viewer/src/robots.txt
