# Python directories
__pycache__

sample-viewer-api/src/config.py
*.pyc
.DS_Store
*.sw*
notes/2018-10-01_cvisb-input.md
sample-viewer/package-lock.json
sample-viewer/src/assets/wp_style.css
sample-viewer-api/src/static/schemas/templates/sample_viewer_template.csv
sample-viewer-api/src/static/schemas/templates/sample_viewer_template.xlsx
sample-viewer-api/src/static/schemas/schemaorg-20181004.jsonld
sample-viewer-api/src/static/geo/test_filters.svg
notes/samples notes.md
*.pem
*.key
*.crt




sample-viewer-api/src/static/data/*.xlsx
sample-viewer-api/src/static/data/*.xls
sample-viewer-api/src/static/data/*.csv
sample-viewer-api/src/static/data/*.json
sample-viewer-api/src/static/data/*.fasta
sample-viewer-api/src/static/data/uploads/*.xlsx
sample-viewer-api/src/static/data/uploads/*.xls
sample-viewer-api/src/static/data/uploads/*.csv
sample-viewer-api/src/static/data/uploads/*.json
notes/*.md
notes/wordpress_css_link_underline.css
