<div class="container-justified provenance-title">
  <div class="container container-title">
    <div [ngClass]="[icon, 'expt-type']" *ngIf="icon">
      <svg-icon [icon]="icon" [ngClass]="icon + '-icon'"></svg-icon>
    </div>

    {{ title }}
  </div>
  <div id="download" v-if="data && data.length">
    <button mat-button mat-primary (click)="downloadData()">
      <mat-icon aria-label="download" matTooltip="Download data">file_download</mat-icon>
    </button>
  </div>

  <div class="container container-icons">
    <i class="fas fa-lock private-icon header-icon" matTooltip="includes private data; do not share" *ngIf="private"></i>
    <!-- <i class="fas fa-stopwatch embargoed-icon header-icon" matTooltip="embargoed data; do not share" *ngIf="embargoed"></i> -->
    <!-- <svg-icon [icon]="dataStatus" class="data-status-icon" [matTooltip]="dataStatus + ' data'" *ngIf="dataStatus"></svg-icon> -->
    <div class="data-status container" *ngIf="dataStatus === 'preliminary'">
      <div class="preliminary">preliminary data</div>
      <svg-icon [icon]="dataStatus" class="data-status-icon" [matTooltip]="dataStatus + ' data'" *ngIf="dataStatus"></svg-icon>
    </div>

  </div>
</div>
