<div class="container-justified provenance-title">
  <div class="container container-title">
    <div [ngClass]="[icon, 'expt-type', 'mat-shadow']" *ngIf="icon">
      <svg-icon [icon]="icon" [ngClass]="icon + '-icon'"></svg-icon>
    </div>

    {{ title }}
  </div>

  <div class="container container-icons">
    <i class="fas fa-lock private-icon header-icon" matTooltip="private data; do not share" *ngIf="private"></i>
    <i class="fas fa-stopwatch embargoed-icon header-icon" matTooltip="embargoed data; do not share" *ngIf="embargoed"></i>
    <svg-icon [icon]="dataStatus" class="data-status-icon" [matTooltip]="dataStatus + ' data'" *ngIf="dataStatus"></svg-icon>
  </div>
</div>
