<div class="centered about-text" *ngIf="cvisbCatalog$ | async as cvisbCatalog">
  <div class="container main-header">
    <h1>Release notes</h1>

    <div class="container current-release">
      <div class="current-label">
        current version
      </div>

      <div class="version">
        CViSB version {{ cvisbCatalog.releaseVersion }}
      </div>
      <!-- <div class="updated">
      updated {{ dataModified | date: "d MMMM y" }}
    </div> -->
    </div>
  </div>

  <div class="disclaimer">
    Note: only major versions with big changes are shown. In between releases, there may be minor changes, particularly to sample metadata.
  </div>

  <div class="release-notes" *ngFor="let release of cvisbCatalog.releaseNotes">
    <div class="container release-header" [ngClass]="{'current-release': release.version === releaseVersion}">
      <div class="version">
        CViSB version {{release.version }}
      </div>
      <div class="updated">
        published {{release.datePublished | date: "d MMMM y"}}
      </div>
    </div>

    <p class="orange py-2">{{ release.abstract }}</p>

    <div *ngFor="let notes of release.description">
      <h4>{{ notes.category }}</h4>
      <ul class="release">
        <li *ngFor="let note of notes.note">
          {{ note }}
        </li>
      </ul>
    </div>

  </div>
</div>
