@import '../../../sass/variables.scss';
@import "../../../sass/material-theme.scss";

.validation-error {
  background: accent-redder(A700);
  color: white;
  padding: 5px;
}

.verified {
  background: none;
  color: darken($sierraleone-green, 10%);
}

.mat-cell,
.mat-header-cell {
  min-width: 100px;
}

.has-error {
  font-size: 1.5em;
  color: accent-redder(A700);
  // color: white;
  // padding: 5px;
}

.next-buttons {
  margin-top: 25px;

  & button {
    background: $grey-100 !important;
  }
}
