@import '../../../sass/material-theme.scss';

.progress-bar {
  max-width: 500px;
  height: 10px;
  margin-top: 25px;
}

.pct-complete {
  max-width: 500px;
  text-align: right;
  margin-top: 5px;
}

.mat-progress-bar-background{
  fill: primary(100);
}
.mat-progress-bar-buffer{
  background-color: primary(100);
}
.mat-progress-bar-fill::after {
  background-color: primary(500);
}


.mat-progress-bar-background{
  fill: primary(100);
}
.mat-progress-bar-buffer{
  background-color: primary(100);
}
.mat-progress-bar-fill::after {
  background-color: primary(500);
}
