@import '../../sass/variables';
@import '../../sass/material-theme';

.page-header {
  h1 {
    color: accent-redder(200);
    -webkit-text-stroke-color: accent-redder(500);
    -webkit-text-stroke-width: 1px;
  }
}
