@use '~@angular/material' as mat;
@import '../../sass/variables.scss';
@import '../../sass/material-theme.scss';
@include mat.table-theme($candy-app-theme);
@include mat.sort-theme($candy-app-theme);
@include mat.paginator-theme($candy-app-theme);
@include mat.select-theme($candy-app-theme);

// --- Fonts ---
h4 {
  margin: 0.5em 0 0.25em;
}
// --- Links ---

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.download-btn {
  margin: 0 10px;
  background: primary(50);
  border-color: primary(500);
}

.download-btn:hover {
  background: primary(100);
}

.download-btn mat-icon {
  color: primary(500);
}

.updated {
  display: inline-block;
  color: $grey-400;
}
// --- Activation upon selection ---

.inactive {
  opacity: 0.4;
}

.active {
  opacity: 1;
}

.highlight {
  background: #42A948;
  /* green */
}

.mat-table, .mat-paginator {
  background: inherit !important;
}

.mat-column-description {
    max-width: 250px;
    padding: 0 10px;
}

.mat-column-additionalType {
    min-width: 108px;
}
