@use '~@angular/material' as mat;
@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';
@include mat.input-theme($candy-app-theme);

.search input[type=text] {
  width: 1em;
  font-size: 1em;
  padding: 0 0 0 22px;
  height: 30px;
  background: none;
  border: none;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  cursor: pointer;
  float: right;
  font-family: $font-default;
  font-weight: 300;
  margin: 5px 20px 5px 5px;
  font-family: "Open Sans", "FontAwesome", sans-serif;
}

.search input[type=text]:focus {
  width: 200px;
  background: accent(50);
  outline: none;
  cursor: text;
}
// @media only screen and (max-width: 760px) {
//   .search input[type="text"]:focus {
//     width: 75vw;
//   }
// }
//
