@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss'; // path {
//   // shape-rendering: crispedges;
//   cursor: pointer;
// }

.Control,
.control {
  fill: $grey-500;
  stroke: $default-color;
}

path.Control,
path.control {
  &.not-highlight {
    opacity: 0.4;
  }
}

path.Unknown,
path.unknown {
  fill: $grey-100;
  stroke: $grey-500;
}


text.Unknown,
text.unknown {
  fill: $grey-350;
}

.Ebola,
.ebola {
  fill: $ebola-md;
  stroke: $ebola-color;

  &.not-highlight {
    opacity: 0.4;
  }
}

.COVID-19 {
  fill: $covid-md;
  stroke: $covid-color;

  &.not-highlight {
    opacity: 0.4;
  }
}

.Lassa,
.lassa {
  fill: $lassa-md;
  stroke: $lassa-color;

  &.not-highlight {
    opacity: 0.4;
  }
}

.donut--annot {
  & text {
    stroke: none;
    dominant-baseline: middle;
    font-family: $font-default;
    font-weight: 700;
  }

  .disabled {
    cursor: pointer !important;
  }
}

.add-data {
  fill: $cvisb-dark;
}

.filter-data {
  fill: accent-redder(A700);
}
// checkboxes
.annotation--count {
  dominant-baseline: central;
}

.checkmark {
  cursor: pointer;
  font-size: 1.1em;
  dominant-baseline: ideographic;
  // pointer-events: none;
  stroke-width: 2;
  fill: none;

  &.Ebola {
    stroke: $ebola-md;

    &:hover {
      fill: $ebola-lt;
    }
  }

  &.COVID-19 {
    stroke: $covid-md;

    &:hover {
      fill: $covid-lt;
    }
  }

  &.Lassa {
    stroke: $lassa-md;

    &:hover {
      fill: $lassa-lt;
    }
  }

  &.Control {
    stroke: $grey-600;
    fill: none;

    &:hover {
      fill: $grey-50;
    }
  }

  &.Unknown {
    stroke: $grey-400;
    fill: none;

    &:hover {
      fill: $grey-50;
    }
  }
}
