@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';

path {
  // shape-rendering: crispedges;
  cursor: pointer;
}

.Control,
.control {
  fill: $grey-350;
  stroke: $grey-500;

  &:hover {
    fill: darken($grey-400, 25%);
  }
}

path.Control,
path.control {
  &:hover {
    fill: darken($grey-350, 15%);
  }
}

path.Unknown,
path.unknown {
  fill: $grey-50;
  stroke: $grey-500;

  &:hover {
    fill: $grey-500;
  }
}

text.Unknown,
text.unknown {
  fill: $grey-300;

  &:hover {
    fill: $grey-500;
  }
}

.Ebola,
.ebola {
  fill: $ebola-md;
  stroke: $ebola-color;

  &:hover {
    fill: darken($ebola-md, 25%);
  }
}

.Lassa,
.lassa {
  fill: $lassa-md;
  stroke: $lassa-color;

  &:hover {
    fill: darken($lassa-md, 25%);
  }
}

.donut--annot {
  & text {
    stroke: none;
    dominant-baseline: middle;
    font-family: $font-default;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      opacity: 1 !important;
    }
  }

  .disabled {
    cursor: pointer !important;
  }
}

.add-data {
  fill: $cvisb-dark;
}

.filter-data {
  fill: accent-redder(A700);
}
