<p>
  Please note that this data is still based on work in progress and should be considered preliminary. If you intend to include any of these data in publications, please let us know – otherwise please feel free to download and use without restrictions. We
  have shared this data with the hope that people will download and use it, as well as scrutinize it so we can improve our methods and analyses. Please <a [href]="'mailto:' + cvisb_email + '?subject=cvisb data'">contact us</a> if you have any questions or comments.
</p>
