<div class="patient-lists">
  <div class="spinner-container container" *ngIf="patientSource.loadingState$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="patientSource" matSort id="patients" [hidden]="!patientSource">

    <!-- ID Column -->
    <ng-container matColumnDef="patientID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">public ID</th>
      <td mat-cell *matCellDef="let element" class="patient-id">
        {{element.patientID}}
      </td>
    </ng-container>

    <ng-container matColumnDef="gID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">gID</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.gID">
          <span class="alt-id" *ngFor="let id of element.gID.sort(); let idx=index">
            {{id}} <span class="data-separator" *ngIf="idx < element.gID.length - 1"></span>
          </span>
        </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="sID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">sID</th>
      <td mat-cell *matCellDef="let element">
        <span class="alt-id">
          {{element.sID}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="associatedSamples">
      <th mat-header-cell *matHeaderCellDef>samples</th>
      <td mat-cell *matCellDef="let element">
        <app-patient-timepoints [samples]="element.samples"></app-patient-timepoints>
        <!-- <app-patient-timepoints [samples]="element.associatedSamples"></app-patient-timepoints> -->
        <!-- <mat-chip-list> -->
        <!-- <mat-chip class="timepoint" *ngFor="let timepoint of element.associatedSamples" [ngClass]="element.outcome"> -->
        <!-- <i class="fas fa-ambulance" *ngIf="element.outcome === 'dead'"></i> -->
        <!-- <i class="fas fa-medkit" *ngIf="element.outcome === 'dead'"></i> -->
        <!-- <i class="fas fa-hospital-symbol" *ngIf="element.outcome === 'dead'"></i> -->
        <!-- <i class="fas fa-home" *ngIf="element.outcome === 'contact'"></i> {{timepoint}} -->
        <!-- </mat-chip> -->
        <!-- </mat-chip-list> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="cohort">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">cohort</th>
      <td mat-cell *matCellDef="let element">
        <span class="cohort" [ngClass]="element.cohort">{{element.cohort}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="outcome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">outcome</th>
      <td mat-cell *matCellDef="let element">
        <span class="outcome" [ngClass]="[element.outcome, element.cohort]">{{element.outcome}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">country</th>
      <td mat-cell *matCellDef="let element">
        <div class="table-country">
          {{element.country.name}}
          <svg-icon [icon]="element.country.identifier" class="country-icon" [ngClass]="element.country.identifier"></svg-icon>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">sex</th>
      <td mat-cell *matCellDef="let element">

        <span class="sex-icon" [ngClass]="element.gender">
          <span *ngIf="element.gender === 'Female'">
            <fa-icon [icon]="faVenus"></fa-icon>
          </span>
          <span *ngIf="element.gender === 'Male'">
            <fa-icon [icon]="faMars"></fa-icon>
          </span>
        </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">age</th>
      <td mat-cell *matCellDef="let element">
        {{element.age | number: "1.0-1"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="relatedTo">
      <th mat-header-cell *matHeaderCellDef>related patients</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <a [routerLink]="['/patient', contact]" *ngFor="let contact of element.relatedTo" class="related">{{contact}}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="availableData">
      <th mat-header-cell *matHeaderCellDef>available data</th>
      <td mat-cell *matCellDef="let element">
        <div class="expt-type expt-type-hover" *ngFor="let expt of element.availableData" [matTooltip]="(expt | experimentObject)['datasetName']" matTooltipPosition="above" [ngClass]="(expt | experimentObject)['dataset_id']">
          <a [routerLink]="['/patient', element.patientID]" [fragment]="(expt | experimentObject)['anchor_link'] | stripWhitespace">
            <svg-icon [icon]="(expt | experimentObject)['icon']" [ngClass]="[(expt | experimentObject)['icon'], (expt | experimentObject)['icon'] + '-icon']"></svg-icon>
          </a>
        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="elisa">
      <th mat-header-cell *matHeaderCellDef>ELISA</th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let elisa of element.elisa" class="elisa-group" [matTooltip]="'at ' + elisa.timepoint">
          {{elisa.virus}} {{elisa.assayType}}
          <span id="positive" *ngIf="elisa.ELISAresult === 'positive'">
            <mat-icon>control_point</mat-icon>
          </span>
          <span id="negative" *ngIf="elisa.ELISAresult === 'negative'">
            <mat-icon>remove_circle_outline</mat-icon>
          </span>
          <span id="unknown" *ngIf="!elisa.ELISAresult">
            <mat-icon>help_outline</mat-icon>
          </span>

        </div>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow($event, row)"></tr>
  </table>

    <mat-paginator [length]="selectedLength" [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" showFirstLastButtons [hidden]="!patientSource"></mat-paginator>
</div>
