// Custom color specifications
@import './sass/variables.scss'; // custom variables, usually colors
// @import 'sass/variables'; // custom variables, usually colors
@import './sass/material-theme.scss'; // @import 'custom_colors';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Material+Icons');

// --- Material theme, common across the apps ---

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-core-theme($candy-app-theme);
@include mat-progress-spinner-theme($candy-app-theme);
// not super universal, but if they're not included in the styles and added component-wide, they seem to be overriden by Chrome stylings.
// seems to be the places where /deep/ styling is needed.
@include mat-tooltip-theme($candy-app-theme);
@include mat-button-theme($candy-app-theme);
@include mat-select-theme($candy-app-theme);
@include mat-form-field-theme($candy-app-theme);
@include mat-checkbox-theme(mat-light-theme(mat-palette($mat-grey), $candy-app-primary, $candy-app-warn));
@include mat-snack-bar-theme($candy-app-theme);
@include mat-stepper-theme($candy-app-theme);
@include mat-radio-theme($candy-app-theme);
@include mat-dialog-theme($candy-app-theme);
@include mat-progress-bar-theme($candy-app-theme);
@include mat-autocomplete-theme($candy-app-theme);

body {
  font-family: $font-default;
  font-weight: 400;
  color: $default-color;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container-justified {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.align-items-center {
  align-items: center !important;
}

.w-100 {
  width: 100%;
}

// Spacing
.m-0 {
  margin: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt-5 {
  margin-top: 3rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}
.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

$screen-sm-min: 768px;
$screen-md-min: 992px;

.col-md-3 {
  flex-basis: 100%;
  @media (min-width: $screen-md-min) {
    flex-basis: 25% !important;
   }
  background: orange;
}

.col-sm-6 {
  flex-basis: 100%;
  @media (min-width: $screen-sm-min) {
    flex-basis: 50% !important;
   }
  background: orange;
}

.flex-grow1 {
  flex-grow: 1;
}

.centered {
  max-width: 1000px;
  margin: auto;
}

.about-text {
  h4 {
    margin-bottom: 0;
  }

  p {
    margin-top: 0.25em;
  }

  .about-group {
    margin-bottom: 1.75em;
  }
}

.disabled {
  opacity: 0.4;
  cursor: default !important;
}

.data-separator:after {
  content: "\2022";
  color: #959faa;
  padding-left: 3px;
  padding-right: 3px;
}

a {
  color: $cvisb-theme;
  cursor: pointer;

  &:visited {
    color: $cvisb-dark;
  }
}

.nodata {
  color: $grey-400;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 4.5em;
    margin: 0;
    letter-spacing: 0.05em;
    word-spacing: 0.15em;
    text-shadow: 5px 5px 7px $grey-200;
  }
}

.variable-label {
  font-weight: 300;
}

.variable-value {
  font-weight: 400;
}

.spinner-container.container {
    position: fixed;
    left: 50%;
    top: calc(50% - 111px);
}

.spinner-container-centered.container {
    position: fixed;
    left: 50%;
    top: 50%;
}

// --- Icons ---
@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.small-icon mat-icon {
  @include mat-icon-size(18px);
}

.small-icon {
  padding: 2px;
  line-height: 0;
  margin: 1px;
  cursor: pointer;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
}
// $custom-typography: mat-typography-config($font-family: 'Open Sans, Helvetica Neue, sans-serif');
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
// @include mat-base-typography($custom-typography);
//
// // Override typography for a specific Angular Material components.
// @include mat-checkbox-typography($custom-typography);
// @include mat-input-typography($custom-typography);
// @include mat-select-typography($custom-typography);
//
// // Override typography for all Angular Material, including mat-base-typography and all components.
// @include angular-material-typography($custom-typography);
// @include mat-core($custom-typography);
// --- File Filter Controls ---

.mat-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.filter {
  // margin-bottom: 25px;
}

.filter-key,
.filter-pair,
.filter-value {
  display: inline-block;
}

.filter-pair {
  margin-right: 15px;
  cursor: pointer;
}

.filter-label {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: 300;
  color: $grey-400;
  font-size: 0.8em;
  background: $grey-50;
  padding: 2px 5px;
}

.filter-sublabel {
  display: flex;
  margin: 0;
  font-size: 0.8em;
  font-weight: 300;
  justify-content: center;
  margin-top: 5px;
  color: $cvisb-bright;
}

.filter-sublabel::before {
  content: "\2014 \00a0";
}

.filter-sublabel::after {
  content: "\00a0 \2014";
}

.filter-wide-container {
  max-width: 605px;
}

.patient-type {
  display: inline-block;
  padding-right: 0.85em;
}
// --- File type ---

.file-type {
  display: inline-block;
  padding: 2px 5px;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  background: $grey-200;
  border-color: $grey-400;
  color: $grey-400;
  margin: 0 10px;
}

.summary-data {
  background: accent-redder(200);
  color: accent-redder(900);
  border-color: accent-redder(900);
}

.curated-data {
  background: lighten($cvisb-bright, 50%);
  color: $cvisb-dark;
  border-color: $cvisb-dark;
}

.unknown-type {
  background-color: #f3f3f3;
}
// --- Dataset header ---

.dataset-header h4 {
  // color: $default-color;
  margin-bottom: 0.5em;

  a {
    text-decoration: none;
  }
}

.dataset-description {
  color: $grey-400;
  font-size: 0.9em;
  margin-right: 10px;
}

.keyword {
  background: $grey-50;
  background: $grey-150;
  margin: 0 5px 3px;
  font-size: x-small;
  padding: 3px 5px;
  font-weight: 400;
  white-space: nowrap;
}
// --- icons ---
// --- sex ---

.Female {
  color: $female-color;
}

.Male {
  color: accent-redder(500);
}

.sex-icon {
  font-size: 1.75em;
}

svg-icon.country-icon {
  height: 30px;
  width: 30px;
  padding-left: 3px;
  fill: #bababa;

  &.SL {
    fill: $sierraleone-blue;
  }

  &.NG {
    fill: $nigeria-green;
  }

  &.GN {
    fill: $guinea-yellow;
  }

  &.LR {
    fill: $liberia-red;
  }

  &.TG {
    fill: $togo-yellow;
  }

  &.GH {
    fill: $ghana-yellow;
  }

  &.ML {
    fill: $mali-red;
  }

  &.CI {
    fill: $cote-divoire-orange;
  }

  &.US {
    fill: $us-blue;
  }

  &.MX {
    fill: $mexico-green;
  }

  &.JO {
    fill: $jordan-red;
  }

  &.GA {
    fill: $gabon-green;
  }

  &.CD {
    fill: $drc-blue;
  }

  &.CG {
    fill: $congo-red;
  }
}

.final-icon {
  fill: url("#cvisb_gradient") $cvisb-dark;
}

.preliminary-icon {
  fill: url("#cvisb_gradient") $cvisb-theme;
  // stroke-width: 10;
}

.data-status-icon {
  width: 18px;
  height: 20px;
}

// --- filters ---

.filter-container {
  display: flex;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // border-bottom: 10px solid $grey-200;
  &.inactive {
    opacity: 0.4;
  }
}

.filter-header,
.filter-item {
  // background: tomato;
  // border: 1px solid red;
  // padding: 10px;
}
// Header

.filter-header {
  flex-basis: 100%;
  padding-bottom: 0;
  margin-bottom: 10px;

  h2 {
    margin: 0;
    font-weight: 300;
    font-variant: small-caps;
  }

  .container {
    justify-content: space-between;

    .mat-raised-button,
    .mat-stroked-button {
      min-height: 23px !important;
      min-width: 46px !important;
      font-size: 0.8em !important;
      line-height: 0;

      &:hover {
        // background: accent(400);
      }
    }
  }
}

.pull-right {
  display: inline-flex;
}
//  --- cohort outcomes ---
// --- Patient cohorts ---
// Cohort type

.cohort {
  font-weight: 400;
  padding: 5px;
  margin-right: 0;
  border-radius: 5px 0 0 5px;
  white-space: nowrap;
}

.cohort.Lassa,
.outcome.Lassa {
  background-color: $lassa-color;
  border: $lassa-color 1px solid;
  color: white;
}

.cohort.Ebola,
.outcome.Ebola {
  background-color: $ebola-color;
  border: $ebola-color 1px solid;
  color: white;
}

.cohort.COVID-19,
.outcome.COVID-19 {
  background-color: $covid-color;
  border: $covid-color 1px solid;
  color: white;
}

.cohort.Unknown {
  background-color: $grey-100;
  border: $grey-600 1px solid;
}

.cohort.Control {
  background-color: $grey-600;
  color: white;
  border: $grey-600 1px solid;
}
// --- Patient outcome: living or dead ---

.outcome {
  padding: 5px;
  margin-left: 0;
  border-radius: 0 5px 5px 0;
  border: $grey-600 1px solid;
  border-left-width: 0;
  font-weight: 400;
  // border-left: whitesmoke solid 3px;
  &.control {
    background-color: $grey-500;
    color: white;
    border-color: $grey-600;
  }

  &.contact {
    &.Ebola {
      background-color: lighten($ebola-lt, 12%);
      color: $ebola-color;
    }

    &.Lassa {
      background-color: lighten($lassa-lt, 15%);
      color: $lassa-color;
    }

    &.COVID-19 {
      background-color: lighten($covid-lt, 15%);
      color: $covid-color;
    }

    &.Unknown {
      background-color: $grey-50;
    }
  }

  &.unknown {
    background: white;

    &.Lassa {
      color: $lassa-dk;
    }

    &.Ebola {
      color: $ebola-dk;
    }

    &.COVID-19 {
      color: $covid-dk;
    }

    &.Unknown {
      color: $default-color;
    }
  }

  &.dead {
    &.Lassa {
      background-color: $lassa-lt;
      color: $default-color;
    }

    &.Ebola {
      background-color: $ebola-lt;
      color: $default-color;
    }

    &.COVID-19 {
      background-color: $covid-lt;
      color: $default-color;
    }

    &.Unknown {
      background-color: $grey-225;
      color: $default-color;
    }
  }

  &.survivor {
    &.Lassa {
      background-color: $lassa-md;
      color: $default-color;
    }

    &.Ebola {
      background-color: $ebola-md;
      color: $default-color;
    }

    &.COVID-19 {
      background-color: $covid-md;
      color: $default-color;
    }

    &.Unknown {
      background-color: $grey-300;
      color: $default-color;
    }
  }
}
// --- alternate IDs ---

.altID {
  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}
// patient sub page

h4.patient {
  margin-bottom: 0;
  margin-top: 0.5em;
  text-transform: capitalize;
  border-bottom: 1px solid $default-color;
}

h4.patient-data {
  margin-bottom: 0;
  margin-top: 5px;
  text-transform: capitalize;
}

h5.patient-data {
  margin: 0.5em 0 0.25em;
  font-size: 0.75em;
  color: $grey-400;

  &::before {
    content: "\2014\00a0";
  }

  &::after {
    content: " \2014";
  }
}

.patient-data-container {
  margin-bottom: 2em;
}
// --- dataset page ---

.dataset-page h3 {
  margin-bottom: 0.1em;
}

.updated {
  color: $ebola-color;
  font-size: 0.8em;
}
// --- upload ---

button.stepper-button {
  background: accent(50) !important;
  margin-right: 25px;
}

.stepper-title {
  text-transform: uppercase;
  font-weight: 400;
  color: accent-redder(500);
  // border-bottom: 1px #fe643b solid;
  // background: #f9eae991;
  // padding: 3px 10px;
}

.preview-sample {
  overflow-x: auto;
  width: 100%;
}

.done-icon {
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
  position: absolute;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.error-message-group {
  margin-bottom: 35px;
}

// EXPERIMENT ICONS
.expt-type {
  display: inline-block;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin: 0.5em 1.5em 0.5em 0;
  padding: 5px;
  border-radius: 5px;

  & svg-icon {
    height: 35px;
    width: 35px;
    vertical-align: middle;
  }
}

.expt-type-hover:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, .5), 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}

.hla {
  background: lighten($female-color, 38%);
  stroke: $default-color;
  stroke-width: 0.75;
}

.tcr {
  background: #fef3d9;
}

.bcr {
  background: lighten($cvisb-bright, 48%);
}

.systems-serology {
  background: lighten($lassa-lt, 17%);
  // background: #e3ffe2;
  fill: url("#grey_radial_gradient") $grey-200;
}

.elisa {
  // background: #f3ffe4;
  background: #faffd7;
}

.rtpcr {
  background: lighten($ebola-lt, 11%);
}

.rapid-diagnostics {
  // background: lighten($sierraleone-blue, 56%);
  background: #e8eaf6;
}

.sensor-vitals {
  background: #edffc7;
  background: #e4ffca;
}

.vitals {
  background: #fadcff;
  background: #fbe6ff;
}

.blood-chemistry, .blood-counts {
  background: #ffe7c7;
}

.ebola-virus-seq,
.lassa-virus-seq,
.sarscov2-virus-seq,
.virus-seq {
  background: #e4fffc;
}

.hidden {
  display: none;
}
// Font size for all tables

th.mat-header-cell {
  font-size: 14px !important;
}

.dataset-container {
  margin-left: 9.5em;
}

.footer,
.header {
  z-index: 1000;
}
// common tags for data

.private-icon {
  background: $grey-225;
  padding: 5px;
  color: $grey-400;
  margin-right: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 4px;
}

.embargoed-icon {
  background: $grey-400;
  background: accent-redder(A400);
  padding: 5px;
  color: white;
  border-radius: 4px;
  font-size: 0.8em;
  display: flex;
  margin: 5px 0;

  & i {
    color: $grey-100;
    color: accent-redder(300);
    margin-right: 4px;
    font-size: 18px;
  }
}

i.embargoed-icon {
  color: accent-redder(300);
  font-size: 18px;
}
