<div class="patient-id-filter container-column">
  <h4 class="filter-label">patient IDs</h4>

  <div class="container" *ngIf="all_patients">
    <mat-form-field class="example-chip-list" (search)="onSearch($event)">
      <mat-chip-list #chipList aria-label="Patient ID selection">
        <mat-chip *ngFor="let id of selectedIDs" [selectable]="selectable" [removable]="removable" (removed)="remove(id)">
          {{id}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Select patient IDs" #idInput [formControl]="idCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let id of filteredIDs | async" [value]="id">
          {{id}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-checkbox class="include-contacts" [(ngModel)]="inclContacts" (ngModelChange)="filterContacts($event)">include patient contacts</mat-checkbox> -->
  </div>

  <ng-container *ngIf="authorized$ | async as authorizedObj">
    <div id="S-G-ids" class="container-column" *ngIf="authorizedObj.authorized">
      <mat-checkbox class="include-sid" [(ngModel)]="inclSID" (ngModelChange)="filterIDExists($event, 'sID')">has S- or C-id</mat-checkbox>

      <mat-checkbox class="include-gid" [(ngModel)]="inclGID" (ngModelChange)="filterIDExists($event, 'gID')">has G-id</mat-checkbox>

    </div>
  </ng-container>

</div>
