@use '@angular/material' as mat;
@import "../../../sass/material-theme.scss";
@include mat.chips-theme($candy-app-theme);

.patient-id-filter {
  width: 250px;
}

.patient-ids {
  height: 70px;
  flex-basis: 100%;
}

.include-contacts {
  font-size: 0.8em;
}

:host ::ng-deep .include-contacts .mat-checkbox-inner-container {
  $check-width: 14px;
  width: $check-width !important;
  height: $check-width !important;
}


:host ::ng-deep .ng-value-container {
    max-height: 60px;
    overflow-y: scroll;
}
