<div class="warning-banner" *ngIf="embargoed || preliminary || privateData">
  <div class="warning-header">{{ (embargoed || privateData) ?
  (preliminary ? "Some data for this patient cannot be shared outside CViSB and/or may change:" : "Some data for this patient cannot be shared:" ) :
  "Some data for this patient may change:" }}</div>
  <table>
    <!-- <tr *ngIf="embargoed">
      <td class="icon">
        <i class="fas fa-stopwatch embargoed header-icon" matTooltip="embargoed data; do not share"></i>
      </td>

      <td>
        <span class="warning-label embargoed">Embargoed: </span>cannot be shared until 6 months after publication
      </td>
    </tr> -->

    <tr *ngIf="privateData">
      <td class="icon">
        <fa-icon class="private header-icon" [icon]="faLock"  matTooltip="private data; do not share"></fa-icon>
      </td>

      <td>
        <span class="warning-label private">Private: </span>not sharable unless recipients are approved by IRB agreements
      </td>
    </tr>

    <tr *ngIf="preliminary">
      <td class="icon">
        <svg-icon icon="preliminary" class="data-status-icon preliminary header-icon" matTooltip="preliminary data"></svg-icon>
      </td>
      <td>
        <span class="warning-label preliminary">Preliminary: </span>subject to change
      </td>
    </tr>

  </table>
</div>
