@import "../../../sass/variables.scss";

.warning-banner {
  margin-top: 100px;
  font-size: 0.85em;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 7px;
  background: #0aaae438;
  border-bottom: 2px dotted $cvisb-theme;

  & td {
    margin: 0 !important;
  }

  & table {
    font-weight: 300;
    font-size: 0.9em;
  }
}

td.icon {
  text-align: center;
}

.preliminary {
  color: $cvisb-dark;
}

.embargoed {
  color: accent-redder(A400) !important;
}

.private {
  color: $grey-400;
}

.warning-label {
  font-weight: 400;
}

.header-icon {
  font-size: 18px;
  margin-right: 3px;
}
