@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';
// --- Containers ---
.metadata {
  display: grid;
  padding: 5px 15px 15px;
  background: accent(50);
}

.metadata-pair {
  margin-bottom: 10px;
}

.metadata-key {
  font-weight: 300;
  text-transform: uppercase;
  color: primary(500);
  font-size: 0.75em;
}
// --- Links ---
.file-name {
  text-decoration: underline;
}
// --- Fonts ---
h4 {
  margin: 0.5em 0 0.25em;
}

h5 {
  border-top: 1px solid $default-color;
  border-bottom: 1px solid $default-color;
  padding: 5px 0;
  font-size: 0.9em;
  text-transform: uppercase;
}
