@import "../../../sass/material-theme.scss";

.mat-column-missing {
  color: accent-redder(500);
  font-weight: 400;
}

.highlight {
  color: accent-redder(A700);
  font-weight: 400;
}

// Center text in table
td.mat-cell,
th.mat-header-cell {
  padding: 2px 10px;
  text-align: center;
}

/deep/ .table-header .mat-sort-header-container {
  justify-content: center !important;
}

// Locations
.lab {
  font-weight: 400;
}

.location-group {
  padding: 5px 10px;
  margin: 10px;
  background: $grey-50;
}

.hide-pagination {
  // display: none !important;
}
