@use '~@angular/material' as mat;
@import "../../../sass/material-theme.scss";
@import "../../../sass/variables.scss";
@include mat.sort-theme($candy-app-theme);
@include mat.table-theme($candy-app-theme);
@include mat.expansion-theme($candy-app-theme);
@include mat.paginator-theme($candy-app-theme);


.mat-column-missing {
  color: accent-redder(500);
  font-weight: 400;
}

.highlight {
  color: accent-redder(A700);
  font-weight: 400;
}
// Center text in table

td.mat-cell,
th.mat-header-cell {
  padding: 2px 10px;
  text-align: center;
}

:host ::ng-deep .table-header .mat-sort-header-container {
  justify-content: center !important;
}

.mat-column-location {
  min-width: 225px;
  text-align: start !important;
}
// Locations

.lab {
  font-weight: 400;
}

.location-group {
  padding: 5px 10px;
  margin: 10px;
  // background: $grey-50;
  background: lighten(#cfe9d4, 10%); // green for new samples
}

.location-panel {
  box-shadow: none !important;
}

.hide-pagination {
  // display: none !important;
}

.key {
  color: $grey-400;
}
