@use '~@angular/material' as mat;
@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';
@include mat.expansion-theme($candy-app-theme);

.curation-explanation {
  background: lighten($lassa-md, 35%);
  padding: 15px;

  & h3 {
    text-transform: uppercase;
    font-weight: 400;
    color: $lassa-md;
    margin: 0;
  }

  & p {
    margin-top: 0.25em;
  }

  & h5 {
    margin: 0;
    color: $grey-400;
  }
}

.methodology-description {
  font-size: 0.85em;
  margin-bottom: 0;
  color: $grey-500;
}

.methodology-header {
  padding-left: 0 !important;
  padding-right: 10px !important;
}

#methodology {
    box-shadow: none !important;
    background: inherit !important;
}

section#download-alignments {
    margin-bottom: 12px;
}

:host ::ng-deep .mat-expansion-panel-body {
    padding: 0;
}
