<div class="contact" *ngIf="patient.outcome === 'contact'">

  <div class="how-related">
    <span class="variable-field">relationship to survivor: </span>
    <span class="variable-value">{{ patient.contactSurvivorRelationship }}</span>
  </div>

  <div class="how-exposed">
    <span class="variable-field">exposure type: </span>
    <span class="variable-value">{{ patient.exposureType }}</span>
  </div>

</div>


<div>


<h4 class="patient" id="related-patients">Related Patients</h4>

<div class="related" *ngIf="patient.relatedTo; else nodata">
  <div class="related-link" *ngFor="let contact of patient.relatedTo">
    <a [routerLink]="['/patient', contact]">{{ contact }}</a>
  </div>
</div>

<ng-template #nodata>
  <span class="nodata">no known relations</span>
</ng-template>
</div>
