@use '~@angular/material' as mat;
@import "../../../sass/material-theme.scss";

@include mat.sort-theme($candy-app-theme);
@include mat.table-theme($candy-app-theme);
@include mat.paginator-theme($candy-app-theme);

.id-paginator .mat-paginator-container {
  justify-content: flex-start !important;
}


td.mat-cell, th.mat-header-cell {
    padding: 2px 10px;
    text-align: center;
}

.bad-id {
  font-weight: 400;
  color: accent-redder(A700);
}
