<ng-container *ngIf="citations && citations.length >  0">
  <div *ngFor="let citation of citations" class="container" [ngClass]="{'container-column': !simplifiedCitation}">
    <div class="citation" [ngSwitch]="verbosity">
      <!-- SHORTEST -->
      <ng-container *ngSwitchCase="'basic'">
        <span id="authors">
          <a [href]="citation.url" target="_blank" rel="noreferrer">
            {{citation.author[0].givenName}} {{citation.author[0].familyName}}
            <i>et al.</i>
          </a>
        </span>

        <span id="journal"><i>{{citation.journalNameAbbrev}}</i></span>

        <span id="date" *ngIf="citation.datePublished">{{citation.datePublished | date: "yyyy"}}</span>

      </ng-container>

      <!-- VERBOSE -->
      <ng-container *ngSwitchCase="'verbose'">
        <span id="title">
          <a [href]="citation.url" target="_blank" rel="noreferrer">
            <span [outerHTML]="citation.name"></span>
          </a>.
        </span>

        <span id="authors">
          <span *ngFor="let author of citation.author; let i=index" class="author">
            {{author.givenName}} {{author.familyName}}<span>{{i === citation.author.length - 1 ? '. ' : ','}}</span>
          </span>
        </span>
        <span id="journal"><i>{{citation.journalName}}</i></span>
        <span id="date" *ngIf="citation.datePublished">{{citation.datePublished}}</span>, <span id="vol">{{citation.volumeNumber}}</span>, <span id="issue">{{citation.issueNumber}}</span>, <span id="page">{{citation.pagination}}</span>.
        <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{ citation: citation}"></ng-container>
      </ng-container>

      <!-- WITH LINKS -->
      <ng-container *ngSwitchCase="'links'">
        <ng-container [ngTemplateOutlet]="basic_citation" [ngTemplateOutletContext]="{ citation: citation}"></ng-container>
        <ng-container [ngTemplateOutlet]="links" [ngTemplateOutletContext]="{ citation: citation}"></ng-container>
      </ng-container>

      <!-- DEFAULT -->
      <ng-container *ngSwitchDefault>
        <ng-container [ngTemplateOutlet]="basic_citation" [ngTemplateOutletContext]="{ citation: citation}"></ng-container>
      </ng-container>

    </div>

  </div>

  <ng-template #basic_citation let-citation="citation">
    <span id="authors">
      <a [href]="citation.url" target="_blank" rel="noreferrer">
        {{citation.author[0].givenName}} {{citation.author[0].familyName}}
        <i>et al.</i>
      </a>
    </span>
    <span id="journal"><i>{{citation.journalName}}</i></span>

    <span id="date" *ngIf="citation.datePublished">{{citation.datePublished}}</span>, <span id="vol">{{citation.volumeNumber}}</span>, <span id="issue">{{citation.issueNumber}}</span>, <span id="page">{{citation.pagination}}</span>.

  </ng-template>

  <ng-template #links let-citation="citation">
    <div class="links container">
      <span id="pmid">PubMed ID: <a [href]="'https://www.ncbi.nlm.nih.gov/pubmed/?term=' + citation.pmid" target="_blank" rel="noreferrer">{{citation.pmid}}</a></span>

      <span class="data-separator"></span>
      <span id="doi">DOI: <a [href]="'https://doi.org/' + citation.doi" target="_blank" rel="noreferrer">{{ citation.doi }}</a></span>
    </div>
  </ng-template>

</ng-container>
