.citation {
  display: flex;
  justify-content: space-between;
}

.citation-links {
  font-size: 0.75em;
  margin-top: 3px;
  // justify-content: flex-end;
}

#authors {
  margin-right: 4px;
}

#journal {
  margin-right: 4px;
}
