@use '@angular/material' as mat;
@import '../../../sass/variables';
@import '../../../sass/material-theme';
@include mat.table-theme($candy-app-theme);
@include mat.paginator-theme($candy-app-theme);
@include mat.sort-theme($candy-app-theme);


.rotate-clockwise {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

h4 {
  margin: 5px 0;
}

p {
  margin-bottom: 0;
}

.emphasis {
  font-weight: 400;
  font-size: 1em;
}

.spinner-container {
  justify-content: space-around;
}
// --- Column widths ---
.mat-cell,
.mat-header-cell {
  padding: 0 10px;
}

.mat-cell,
.mat-header-cell {
  &.mat-column-cohort {
    padding-right: 0;
    // text-align: end;
    border-bottom: none;
    flex: 0 0 75px;
  }

  &.mat-column-outcome {
    padding-left: 0;
    border-bottom: none;
    flex: 0 0 45px;
    // display: flex;
    // justify-content: flex-end;
  }
}

.mat-cell.mat-column-cohort {
  text-align: end;
}

.mat-column-patientID,
.mat-column-privatePatientID {
  max-width: 75px;
}

.mat-column-visitCode {
  max-width: 25px;
}

.mat-column-cohort {
  flex: 0 0 150px;
}
// --- Icons ---
@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.delete {
  background: accent-redder(50);
  border-color: accent-redder(500);
}

.delete:hover {
  background: accent-redder(100);
}

.delete mat-icon {
  color: accent-redder(500);
}

.edit,
.split {
  background: $grey-50;
  border-color: $grey-400;
}

.edit:hover,
.split:hover {
  background: $grey-200;
}

.edit mat-icon,
.split mat-icon {
  color: $grey-400;
}

.add mat-icon {
  @include mat-icon-size(24px);
  color: $grey-200;
  background: $grey-50;
  border: 1px solid $grey-200;
  border-radius: 5px;
}

.add mat-icon:hover {
  color: accent(300);
  border-color: accent(400);
  background: accent(50);
}
// --- Locations ---

.sample-locations {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 10px;
  // justify-content: center;
}

.flex-container {
  display: flex;
  width: 100%;
}

.col {
  flex: 1;
  // border: red 1px solid;
  background: tomato;
}
// .location-aliquots, .location-lab {
//   border: 2px red solid;
//   background: #ccc;
//   padding: 0px 5px;
// }
//

.edit-aliquots {
  width: 1.5em;
  font-size: 1em;
  font-family: $font-default;
  font-weight: 300;
  text-align: center;
  flex-basis: 1.5em;
  // border: 1px black solid; // background: #47823943;
  background: lighten($grey-200,5);
  border-right: 2px white solid;
}

input.edit-aliquots {
  margin-top: 0 !important;
}

.sample-label,
.sample-location {
  cursor: pointer;
}

.location {
  font-size: 1em;
  font-family: $font-default;
  font-weight: 300;
  flex-grow: 1 !important;
  // -webkit-appearance: none;
  // -webkit-border-radius: 0;
  // border: 1px black solid;
  // border-radius: 0;
  padding-left: 5px;
  padding-top: 0.25em;
  background: $grey-200;
  // background: #f0f3e0;
}

.location.active {
  background: accent(100);
}

.edit-aliquots.active {
  background: accent(50);
}

mat-select.location {
  width: fit-content !important;
}

.edit-btn-grp {
  flex-basis: auto;
  margin-left: 7px;
}

select.location {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  // linear-gradient(to right, $grey-200, $grey-200);
  background-position: calc(100% - 10px) calc(1em + 2px), calc(100% - 5px) calc(1em + 2px);
  // calc(100% - 1em) 0.5em;
  background-size: 5px 5px, 5px 5px;
  // 1px 1.5em;
  background-repeat: no-repeat;
}
// .location-aliquots {
//   // width: 1.5em;
//   background: aliceblue;
//   border: 1px black solid;
//   padding: 0 5px;
//   margin: 0 0 5px;
// }
// .location-lab {
//   width: 90px;
//   background: aliceblue;
//   border: 1px black solid;
//   padding: 5px;
// }
// :host ::ng-deep .mat-form-field-wrapper {
//     margin-bottom: -1.25em !important;
// }
//
// :host ::ng-deep .location-form .mat-form-field-appearance-legacy .mat-form-field-infix {
//     padding: 0.5em 0;
//     border: none;
// }
//
// .mat-form-field {
//     text-align: center;
// }
