// --- Errors ---

.error-label {
  font-weight: 400;
}
/* • separator */
.id-separator:after {
  content: "\2022";
  color: #959faa;
  padding-left: 3px;
  padding-right: 3px;
}

.upload-button button {
  font-size: 1.5em;
  line-height: 2em;
}

.file-name {
  font-weight: 400;
}

.progress-bar {
  max-width: 500px;
  height: 10px;
  margin-top: 25px;
}

.pct-complete {
  max-width: 500px;
  text-align: right;
  margin-top: 5px;
}
