<h2><span class="stepper-title">Select file and read data</span></h2>

<div class="container-column">
  <!-- <div *ngIf="user.write"> -->
  <p>
    Sample lists should be uploaded as either a .csv or a .json.
  </p>

  <div class="file-info" *ngIf="fileName">
    selected file: <span class="file-name">{{ fileName }}</span>
  </div>

  <div class="client-responses">

    <h1 *ngIf="uploadResponse">{{ uploadResponse }}</h1>

    <h3 *ngIf="errorMsg">{{ errorMsg }}</h3>

  </div>

  <div class="upload-button">
    <!-- Dummy for styling -->
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Upload sample list</button>
    <!-- Actual workhorse to upload the data on the client side -->
    <input hidden class="d-none" type="file" #fileInput (change)="fileChange($event)" placeholder="Upload file" accept=".csv,.xlsx,.xls,.json" id="file_uploader">
  </div>

  <!-- TEMPORARY: JUST FOR ME WHILE TESTING -->
  <div style="margin-top: 25px;" *ngIf="user.email === 'laura.d.hughes@gmail.com'">
    <button type="button" mat-raised-button color="warn" (click)="deleteSamples()">DON'T PRESS THIS BUTTON -- clears sample list</button>
  </div>

</div>


<div *ngIf="! user.write">
  <p>
    You're not allowed to upload sample data to the database.
  </p>

  <p>
    Please contact Laura if you think this is an error.
  </p>
</div>
