<div class="centered about-text">
  <h1>Center for Viral Systems Biology Data</h1>

  <div class="about-group">
    <p>
      What are the immunological, genetic, microbial and physiological attributes that play essential roles in determining outcomes from viral infections? The mission of the Center for Viral Systems Biology (CViSB; pronounced “SEE-VIZ-bee”) is to identify such
      factors and elucidate the molecular and immunological networks that determine outcomes of human disease. We hope that via this research we will be able to provide a deep system-level understanding of the virus and human determinants of clinical
      outcome to discover predictive markers of disease, and guide future therapies.
    </p>
    <p>
      We will achieve these goals by applying several ‘omics’ technologies, continuous physiological sensing, and high-throughput experimental approaches to unique patient and survivor cohorts of Lassa fever and Ebola virus disease in West Africa. We will develop
      predictive models for identifying critical disease correlates and analyze large-scale data sets to pinpoint causal host-pathogen interactions. By elucidation the molecular networks that play critical roles in clinical outcomes, this research will
      allow us to identify new targets for medicines and vaccines, inform personalized treatment strategies, and provide novel computational algorithms applicable to a wide range of other human pathogens.
    </p>
    <p>
      Find out more on the <a href="http://cvisb.org" rel="noreferrer" target="_blank">CViSB homepage</a>.
    </p>
  </div>

  <div class="about-group">
    <h4>Data release policy</h4>
    <p>
      We will follow a strict release of open access data within two weeks of data generation. Please check back here for more updates as soon as the data starts coming off the machines.
    </p>
  </div>

  <div class="about-group">
    <h4>Disclaimer</h4>
    <app-disclaimer></app-disclaimer>

  </div>

  <app-citation></app-citation>

  <app-funding></app-funding>

</div>
