<div class="filter filter-adm0" *ngIf="countries">
  <h4 class="filter-label">location</h4>

  <div *ngFor="let ctry of countries" (click)="selectCountry(ctry.key)" class="location mat-shadow" [ngClass]="{'disabled': ctry.value === 0}" [ngClass]="ctry.key">

    <svg-icon [icon]="ctry.key" [class]="ctry.key + '-icon'" *ngIf="ctry.name"></svg-icon>
    <mat-icon *ngIf="! ctry.name || ctry.name === 'unknown'" [ngClass]="ctry.key + '-icon'">help_outline</mat-icon>

    <div class="filter-pair">
      <div class="adm0-name">{{ ctry.name || 'unknown'}}</div>
      <div class="adm0-count">{{ ctry.value }}</div>
    </div>

  </div>
</div>
