<div class="filter filter-adm0" *ngIf="countries">
  <h4 class="filter-label">location</h4>

  <div *ngFor="let ctry of countries" (click)="selectCountry(ctry.term)" class="location mat-shadow" [ngClass]="ctry.term">
    <div [ngClass]="{'disabled': ctry.count === 0}">
      <svg-icon [icon]="ctry.term" [class]="ctry.term + '-icon'" *ngIf="ctry.name"></svg-icon>
      <mat-icon *ngIf=" ctry.term === 'unknown'" [ngClass]="ctry.term + '-icon'">help_outline</mat-icon>

      <div class="filter-pair">
        <div class="adm0-name" [ngSwitch]="ctry.term">
          <ng-container *ngSwitchCase="'SL'">Sierra Leone</ng-container>
          <ng-container *ngSwitchCase="'NG'">Nigeria</ng-container>
          <ng-container *ngSwitchDefault>unknown</ng-container>
        </div>

        <div class="adm0-count">{{ ctry.count || 0 }}</div>
      </div>
    </div>

  </div>
</div>
