@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';

.country-icon,
.unknown-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin: auto 10px auto 3px;
  cursor: pointer;
}

.SL-icon {
  fill: $sierraleone-blue;
}

.NG-icon {
  fill: $nigeria-green;
}

.GN-icon {
  fill: $guinea-yellow;
}

.LR-icon {
  fill: $liberia-red;
}

.CI-icon {
  fill: $cote-divoire-orange;
}

.BJ-icon {
  fill: $benin-green;
}

.TG-icon {
  fill: $togo-yellow;
}

.GH-icon {
  fill: $ghana-yellow;
}

.ML-icon {
  fill: $mali-red;
}

.US-icon {
  fill: $us-blue;
}

.GA-icon {
  fill: $gabon-green;
}

.CD-icon {
  fill: $drc-blue;
}

.MX-icon {
  fill: $mexico-green;
}

.JO-icon {
  fill: $jordan-red;
}

.CG-icon {
  fill: $congo-red;
}

.unknown-icon {
  color: $grey-400;
}

.location {
  display: inline-flex;
  align-items: center;
  background-color: lighten($grey-200, 10%);
  margin-right: 25px;
  margin-bottom: 15px;

  &:hover {
    background-color: $grey-100;
  }
}

.adm0-name {
  text-transform: uppercase;
  color: $grey-400;
  font-size: 0.7em;
}

.disabled {
  cursor: default;
}

.country-container {
  align-items: center;
}
