@use '@angular/material' as mat;
@import '../../sass/variables.scss'; // vars
@import '../../sass/material-theme.scss'; // Material variables
@include mat.button-theme($candy-app-theme);

.card-container {
  margin-bottom: 25px;
}

h1 {
  margin: 5px 13px;
}

summary {
  margin: 13px 13px 0;
  background: #ffffffaf;
  font-weight: 400;
  padding: 10px 15px;
  align-items: center;
  max-width: 600px;
}

.card {
  flex-basis: 250px;
  background: accent(100);
  padding: 25px;
  margin: 13px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 $grey-200;

  &:hover {
    background: accent(200);
  }
}

.card-title {
  margin: 0 0 8px;
  color: $grey-600;
}

a {
  text-decoration: none;
  color: $default-color;

  &.link {
    color: $cvisb-theme;
    // margin-left: 15px;
  }
}

.intro {
  background-image: url("../../assets/img/KGH_image_1600px.jpg");
  height: 500px;
  padding: 25px;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  // background-position-y: -80px;
}

.cvisb-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cvisb-title {
  font-size: 4em;
  font-weight: 700;
  color: white;
  color: $grey-500;
  margin-bottom: 0;
  margin-top: 15px;
}

#cvisb-subtitle {
  font-weight: 400;
  color: white;
  color: $default-color;
  margin: 0;
}

#collaboration,
#sharing-good,
.cvisb-container,
.learn-more-link {
  display: flex;
  justify-content: center;
}

#summary-description {
  margin: 10px 13px;
  padding: 5px 15px;
  font-size: 1.1em;
}

#learn-more {
  width: 125px;
  margin-bottom: 10px;
  color: $grey-600;
}

#collaboration {
  margin: 10px 13px;
  background: #ffffffab;
  padding: 5px 15px;
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  max-width: 550px;
}

.intro-section {
  margin: -18px -63px;
}

#sharing-good {
  margin-top: 10px;
  font-size: 1.25em;
  margin-bottom: 5px;
}

.section-links {
  justify-content: space-between;
}

.counts,
.section-link {
  flex: 1;
  padding: 10px;
  margin: 0 5px;

  & ul {
    margin: 0;
    padding-left: 10px;
  }

  & li {
    list-style: none;
  }
}

.section-link {
  flex-grow: 1000;
}

.patient {
  background: lighten($ebola-md, 5%);
}

.samples {
  background: accent-redder(300);
}

.data {
  background: $lassa-md;
}

.count-pair {
  align-items: center;
}

.count-label {
  color: white;
}

.count-value {
  font-size: 2.5em;
  margin-right: 15px;
}

#dataset {
  & .counts {
    background: $lassa-dk;
  }

  & .count-value {
    color: $lassa-lt;
  }
}

#patient {
  & .counts {
    background: $ebola-color;
  }

  & .count-value {
    color: $ebola-lt;
  }
}

#sample {
  & .counts {
    background: accent-redder(800);
  }

  & .count-value {
    color: accent-redder(100);
  }
}

.section-title {
  font-size: 1.5em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px 0;
  margin: 7px 0;
}

.section-icon {
  display: flex;
  justify-content: center;
  font-size: 3em;
}

.patient .section-icon {
  color: $ebola-dk;
}

.data .section-icon {
  color: $lassa-color;
}

.samples .section-icon {
  color: accent-redder(500);
}

.about-group.container {
  margin-bottom: 50px;
  max-width: 850px;
}

.about-title {
  display: flex;
  width: 125px;
  align-content: flex-end;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 400;
  margin-right: 50px;
}

.description {
  flex: 1;
}

.section-subtitle {
  font-size: 0.8em;
}

.who-are-we {
  margin-top: 50px;
  margin-left: 55px;
  margin-right: 55px;
}

.link-container {
  flex-grow: 1;
}
