@import '../../sass/material-theme.scss'; // custom variables, usually colors
@import '../../sass/variables.scss'; // custom variables, usually colors

.cvisb-header {
  padding: 12px $lr-padding;
}

.blue-gradient {
  background: linear-gradient(270deg, $cvisb-dark, $cvisb-bright);
}

.purple-gradient {
  // background: linear-gradient(270deg, $cvisb-dark, #8c77bb);
  background: linear-gradient(270deg,#716194,#8c77bb);
}

.dev-warning {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: accent(50);
  letter-spacing: 4.3px;
}

img {
  height: 60px;
  margin-top: 5px;
}
// --- User photo & name ---

.user {
  display: flex;
  align-items: center;

  .user-photo {
    margin: auto;

    img {
      margin: 0;
      height: 32px;
      border-left: 1px solid accent(50);
      padding: 3px 10px 3px 23px;
    }
  }

  .user-name {
    color: white;
    font-size: 12px;
    text-decoration: none;

    i.fas.fa-angle-down {
      margin-left: 5px;
    }

    &:hover {
      color: accent(50);
    }
  }
}

.menu-nav {
  display: flex;
}

.menu-item > a {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  position: relative;

  &:hover {
    color: accent(50);
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: accent(50);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

ul {
  list-style-type: none;
  margin: 26px;
}

li.menu-item {
  list-style: none;
  margin: 0 10px;
  display: inline;
}

.current-menu-item {
  border-bottom: 2px white solid;
}

.unselected-menu-item {
  border-bottom: none;
}

.cvisb-header {
  justify-content: space-between;
}

.sf-menu {
  margin-right: 13px;
}
