<header class="container cvisb-header" [ngClass]="prodEnvironment ? 'blue-gradient' : 'purple-gradient'" *ngIf="prodEnvironment === true || prodEnvironment === false">
  <div class="logo">
    <a routerLink="./home" alt="home link">
      <img src="/assets/img/cvisb_icon_transparent_600px.png" alt="CViSB logo"/>
    </a>
    <div class="dev-warning" *ngIf="!prodEnvironment">
      Development version
    </div>
  </div>

  <div class="menu-items">
    <!-- <div class="slide-out-widget-area-toggle mobile-icon std-menu slide-out-from-right" data-icon-animation="simple-transform">
      <div> <a id="toggle-nav" href="#sidewidgetarea" class="closed"> <span> <i class="lines-button x2"> <i class="lines"></i> </i> </span> </a> </div>
    </div> -->

    <nav class="menu-nav">
      <ul class="sf-menu">
        <li class="menu-item page_item" *ngFor="let link of links">
          <a [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}">
          {{ link.label }}
        </a>
        </li>

        <li class="menu-item page_item" *ngIf="!loggedIn">
          <a routerLink="login" routerLinkActive #rla="routerLinkActive" routerLinkActive="current-menu-item" [routerLinkActiveOptions]="{exact: true}" (click)="login()">
              login
            </a>
        </li>

      </ul>

      <div class="user" *ngIf="loggedIn">
        <a routerLink="login" class="user-photo" routerLinkActive #rla="routerLinkActive" [routerLinkActiveOptions]="{exact: true}">
          <img [src]="user.picture"/>
        </a>
        <a routerLink="login" class="user-name">
          <span>{{user.given_name}}</span>
          <i class="fas fa-angle-down"></i>
          </a>
      </div>
    </nav>
  </div>

</header>

<div class="container dev-banner dev-warning" *ngIf="prodEnvironment === false">
  Data on the development site are not actively maintained. View the most recent data at <a href="https://data.cvisb.org/home">data.cvisb.org</a>
</div>
