@import '../../sass/material-theme.scss'; // custom variables, usually colors
@import '../../sass/variables.scss'; // custom variables, usually colors

.cvisb-header {
  padding: 12px $lr-padding;
}

.prod {
  background: linear-gradient(270deg, $cvisb-dark, $cvisb-bright);
}

.dev {
  // background: linear-gradient(270deg, $cvisb-dark, #8c77bb);
  background: linear-gradient(270deg,$dev-dark,$dev-theme);
}

.authorized.dev {
  background: linear-gradient(45deg, #8c77bb5c, transparent);
  background: #8c77bb3c;
}

.authorized.prod {
  background: linear-gradient(270deg, #62c0e25c, transparent);
  background: #62c0e22e;
}

.authorized-warning,
.dev-warning {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $grey-300;
  letter-spacing: 2.75px;
}

.dev-warning {
  color: accent(100);
  letter-spacing: 4.3px;
}

.authorized .dev-warning {
  color: $dev-theme;
}

.authorized-warning {
  color: $grey-300;
  // color: accent(100);
}

.dev-warning-banner {
  justify-content: center;
  padding: 5px 10px;
  border-top: 2px solid white;
  background: accent-redder(A400);
  color: white;
  text-transform: none;
  letter-spacing: 1.25px;
  font-size: 12px;
  font-weight: 700;

  & a {
    color: accent(100);
    margin-left: 4px;
  }
}

img {
  height: 60px;
  margin-top: 5px;
}
// --- User photo & name ---

.user {
  display: flex;
  align-items: center;

  .user-photo {
    margin: auto;

    img {
      margin: 0;
      height: 32px;
      border-left: 1px solid $grey-250;
      // border-left: 1px solid accent(50);
      padding: 3px 10px 3px 23px;
    }
  }

  .user-name {
    // color: white;
    color: $cvisb-theme;
    font-size: 12px;
    text-decoration: none;

    i.fas.fa-angle-down {
      margin-left: 5px;
    }

    &:hover {
      color: $cvisb-bright;
      // color: accent(100);
    }
  }
}

.menu-nav {
  display: flex;
}

.menu-item > a {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 8px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: accent(50);
    // background-color: $cvisb-theme;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.authorized .menu-item > a {
  color: #999;

  &:hover {
    color: $grey-400;
  }

  &:before {
    background-color: $cvisb-theme;
  }
}

.menu-item > a {
  color: white;

  &:hover {
    color: accent(100);
  }

  &:before {
    background-color: accent(100);
  }
}

ul {
  list-style-type: none;
  margin: 26px;
}

li.menu-item {
  list-style: none;
  margin: 0 10px;
  display: inline;
}

.current-menu-item {
  border-bottom: 2px white solid;
}

.authorized .current-menu-item {
  border-bottom: 2px $cvisb-theme solid;
}

.unselected-menu-item {
  border-bottom: none;
}

.cvisb-header {
  justify-content: space-between;
}

.sf-menu {
  margin-right: 13px;
}
