<h4 class="patient">demographics</h4>

<div class="species" *ngIf="patient.species">
  <span class="variable-label">species: </span>
  <span class="variable-value">{{patient.species}}</span>
</div>

<div class="sex">
  <span class="variable-label">sex: </span>
  <span class="variable-value" [ngClass]="patient.gender">{{ patient.gender ? patient.gender : "unknown" }}</span>
  <!-- <span class="sex" [ngClass]="patient.gender">
  <span *ngIf="patient.gender === 'Female'"><i class="fas fa-venus"></i></span>
  <span *ngIf="patient.gender === 'Male'"><i class="fas fa-mars"></i></span>
  </span> -->
</div>

<div class="age">
  <span class="variable-label">age:</span>
  <span class="variable-value">{{ patient.age || patient.age === 0 ? patient.age : "unknown" }}</span>
</div>

<div class="country container" [ngClass]="patient.country['name']">
  <span class="variable-label">location:</span>
  <span class="variable-value">
    <span *ngIf="patient.admin2">
      {{patient.admin2.name}},
    </span> {{ patient.country['name'] }} </span>

  <svg-icon [icon]="patient.country['identifier']" class="country-icon" [ngClass]="patient.country['identifier']" *ngIf="patient.country['identifier']"></svg-icon>
</div>


<div class="pregnant" *ngIf="patient.pregnant === true || patient.pregnant === false">
  <fa-icon class="private-icon" [icon]="faLock" matTooltip="private data; do not share"></fa-icon>
  <span class="variable-label">pregnant:</span>
  <span class="variable-value">{{ patient.pregnant === "false" ? "no" : patient.pregnant === "true" ? "yes" : "unknown" }}</span>
</div>

<div class="occupation" *ngIf="patient.occupation">
  <fa-icon class="private-icon" [icon]="faLock" matTooltip="private data; do not share"></fa-icon>
  <span class="variable-label">occupation:</span>
  <span class="variable-value">{{ patient.occupation }}</span>
</div>
