<div class="container patient-dates" *ngIf="patient">
  <div class="container-column container-left date-summary">
    <div class="header-label" *ngIf="patient.outcome !== 'contact'">
      Initial Symptoms
    </div>

    <div class="header-label" *ngIf="patient.outcome === 'contact'">
      Initial Evaluation
    </div>

    <div class="infection-year" [ngClass]="patient.cohort">
      {{ patient.infectionYear ? (patient.infectionYear | dateRange: "y") : "date unknown"}}
    </div>
  </div>

  <div class="container container-right date-group">
    <div class="container-column container-left hospital-dates" *ngIf="authorized && patient.outcome !== 'contact'">

      <div id="infection-date">
        <span class="variable-label">onset of symptoms:
        </span>
        <span class="variable-value" [ngClass]="{'nodata missing-date': !patient.infectionDate}">{{ patient.infectionDate ? (patient.infectionDate | dateRange) : "unknown"}}</span>
      </div>

      <div id="evaluation-date">
        <span class="variable-label">hospital evaluation:</span>
        <span class="variable-value" [ngClass]="{'nodata missing-date': !patient.evalDate}">{{ patient.evalDate ? (patient.evalDate | dateRange) : "unknown"}}</span>
      </div>

      <div id="discharge-date">
        <span class="variable-label">hospital discharge:</span>
        <span class="variable-value" [ngClass]="{'nodata missing-date': !patient.dischargeDate}">{{ patient.dischargeDate ? (patient.dischargeDate | dateRange) : "unknown"}}</span>
      </div>

    </div>


    <div class="container-column container-right hospital-spans">

      <ng-container *ngIf="patient.outcome !== 'contact'">
        <div id="days-onset">
          <span class="variable-label">days onset:
        </span>
          <span class="variable-value" [ngClass]="{'nodata missing-date': !patient.daysOnset}">{{ patient.daysOnset ? (patient.daysOnset) : "unknown"}}</span>
        </div>

        <div id="evaluation-date">
          <span class="variable-label">days in hospital:</span>
          <span class="variable-value" [ngClass]="{'nodata missing-date': !patient.daysInHospital}">{{ patient.daysInHospital ? patient.daysInHospital : "unknown"}}</span>
        </div>
      </ng-container>

      <div id="discharge-date">
        <span class="variable-label">outcome:</span>
        <span class="variable-value" [ngClass]="{'nodata missing-date': patient.outcome === 'unknown'}">{{ patient.outcome ? patient.outcome : "unknown"}}</span>
      </div>

    </div>
  </div>

</div>
