<mat-form-field>
  <mat-label>Select an endpoint</mat-label>
  <mat-select [(value)]="endpoint">
    <mat-option value="datacatalog">datacatalog</mat-option>
    <mat-option value="dataset">dataset</mat-option>
    <mat-option value="datadownload">datadownload</mat-option>
    <mat-option value="experiment">experiment</mat-option>
  </mat-select>
</mat-form-field>

<!-- <div class="upload-button"> -->
<div class="upload-button" *ngIf="user.write">
  <!-- Dummy for styling -->
  <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Load file</button>
  <!-- Actual workhorse to upload the data on the client side -->
  <input hidden class="d-none" type="file" #fileInput (change)="fileChange($event)" placeholder="Upload file" accept=".csv,.xlsx,.xls,.json" id="file_uploader">
  <button style="margin-left: 25px" type="button" mat-raised-button color="warn" [disabled]="!data2upload || uploading" (click)="uploadData()">Upload data</button>


  <div class="client-responses">

    <ng-container *ngIf="uploadResponse">
      <h1>{{ uploadResponse }}</h1>
      <mat-progress-bar mode="determinate" [value]="uploadProgress" class="progress-bar"></mat-progress-bar>
      <p class="pct-complete">
        {{ uploadProgress | number:'1.0-0' }}% complete
      </p>
    </ng-container>


    <h3 *ngIf="errorMsg">{{ errorMsg }}</h3>

    <div class="error-messages" *ngIf="errorObj">
      <div class="error-message-group" *ngFor="let msg of errorObj">
        <div class="error-message">
          <span class="error-label">
        Error:
      </span> {{ msg. key }}
        </div>
        <div class="error-ids">
          <span class="error-label">
        IDs:
      </span>
          <div *ngFor="let id of msg.value.ids; let index">
            {{ id }}
            <span *ngIf="index < msg.value.ids.length" class="id-separator">
      </span>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<!-- TEMPORARY: JUST FOR ME WHILE TESTING -->
<div style="margin-top: 25px;" *ngIf="user.email === 'laura.d.hughes@gmail.com'">
  <button type="button" mat-raised-button color="warn" (click)="deletePatients()">DON'T PRESS THIS BUTTON -- clears {{this.endpoint}}</button>
</div>

<div *ngIf="! user.write">
  <p>
    You're not allowed to upload patient data to the database.
  </p>

  <p>
    Please contact Laura if you think this is an error.
  </p>
</div>
