@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300&display=swap');
@import '../../../sass/variables.scss';

.sequence-group {
  max-width: 500px;
  margin-bottom: 100px;
}

.sequence-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.virus {
  margin: 0;
  color: $cvisb-theme;
}

.sequence {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 0.9em;
  max-height: 175px;
  overflow-y: scroll;
  margin: 0.5em 0;
}

.copy-icon {
  font-size: 1.5em;
}

.aligned-sequence,
.raw-sequence {
  margin-bottom: 10px;
}

.raw-sequence .container {
  align-items: baseline;
}

.sequence-label {
  text-transform: uppercase;
  margin: 0;
  color: $grey-300;
}

.fa-star {
  color: $grey-500;
}

.no-show {
  opacity: 0;
}

.NCBI-link a {
    font-size: 0.85em;
    text-decoration: underline;
}
