<nav class="patient-links" [ngClass]="cohort">
  <ul class="level0">
    <li *ngFor="let link of links">
      <ng-container [ngTemplateOutlet]="isObject(link) ? link_obj: link_string" [ngTemplateOutletContext]="{link:link}"></ng-container>
    </li>
  </ul>
</nav>

<ng-template #link_string let-link="link">
  <a class="link" [routerLink]="['../', patientID]" [fragment]="link | stripWhitespace" (click)="scroll(target)">{{ link }}</a>
</ng-template>

<ng-template #link_obj let-link="link">
  <a class="link" [routerLink]="['../', patientID]" [fragment]="link.key  | stripWhitespace" (click)="scroll(target)">{{link.key}}</a>
  <ul class="level1">
    <li *ngFor = "let sublink of link.values" class="link">
      <a [routerLink]="['../', patientID]" [fragment]="sublink | stripWhitespace" (click)="scroll(target)">{{ sublink }}</a>
    </li>
  </ul>
</ng-template>
