@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';

.patient-links {
  ul {
    list-style-type: none;

    &.level0 {
      padding: 0 20px;
    }

    &.level1 {
      padding: 0;
    }
  }

  li {
    cursor: pointer;
    text-align: right;
  }

  .level0 > li {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 40px;
    border-top: $ebola-color 1px solid;
    padding: 3px 0;
  }

  .level1 > li {
    text-transform: none;
    margin: 10px 0;
    font-size: 0.85em;
  }
}

.Ebola {
  a {
    color: $ebola-dk;
    text-decoration: none;

    &:hover {
      color: $ebola-color;
    }
  }

  ul > li > ul > li a {
    color: $ebola-md;

    &:hover {
      color: $ebola-color;
    }
  }

  .level0 > li {
    border-top: $ebola-dk 1px solid;
  }
}

.COVID-19 {
  a {
    color: $covid-dk;
    text-decoration: none;

    &:hover {
      color: $covid-color;
    }
  }

  ul > li > ul > li a {
    color: $covid-md;

    &:hover {
      color: $covid-color;
    }
  }

  .level0 > li {
    border-top: $covid-dk 1px solid;
  }
}

.Lassa {
  a {
    color: $lassa-dk;
    text-decoration: none;

    &:hover {
      color: $lassa-color;
    }
  }

  ul > li > ul > li a {
    color: $lassa-md;

    &:hover {
      color: $lassa-color;
    }
  }

  .level0 > li {
    border-top: $lassa-dk 1px solid;
  }
}

.Control,
.Unknown {
  a {
    color: $grey-600;
    text-decoration: none;

    &:hover {
      color: $default-color;
    }
  }

  ul > li > ul > li a {
    color: $grey-400;

    &:hover {
      color: $default-color;
    }
  }

  .level0 > li {
    border-top: $default-color 1px solid;
  }
}
