@import '../../../sass/variables.scss';

.highlight {
  font-weight: 600;
}

.locus {
  font-size: 1.25em;
  font-weight: 400;
}

.allele-container {
  flex-direction: row;
}

.hla-data {
  display: flex;
}

// Patient HLA circle packing
.patients {
  margin-right: 50px;
}

.allele-group {
  cursor: default;
  padding: 3px 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.hla-data h3 {
  font-weight: 300;
  color: $grey-400;
  text-transform: uppercase;
  margin-bottom: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid $grey-100;
}

.publisher {
  font-size: 0.85em;
}
