@use '~@angular/material' as mat;
@import '../../sass/variables.scss';
@import '../../sass/material-theme.scss';
@include mat.expansion-theme($candy-app-theme);

// --- structural elements ---
$nav-width: 215px;

.patient-header {
  flex: 100%;
  max-width: 1150px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.patient-container {
  display: flex;
  flex: 1;
  min-height: 700px;
}

.patient-content {
  flex: 1;
  margin-left: 175px;
}

.patient-nav {
  flex: 0 0 $nav-width;
  order: -1;
  // margin: -18px 2em -18px -63px;
  // padding-top: 149px;
  // 18+98+27+22-16;
  padding-top: 225px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: $nav-width;
  overflow-x: hidden;
}

.patient-metadata {
  justify-content: space-between;
}

.patient-demographics {
  width: 100%;
  justify-content: space-between;
}
// --- right side nav pane ---

.patient-nav {
  &.Ebola {
    background: lighten($ebola-md, 28%);
    border: none;
  }

  &.Lassa {
    background: lighten($lassa-md, 33%);
    border: none;
  }

  &.COVID-19 {
    background: lighten($covid-lt, 10%);
    border: none;
  }

  &.Control {
    background: $grey-50;
  }

  &.Unknown {
    background: $grey-50;
  }
}
// --- Patient ID title ---

.page-header {
  margin-bottom: 0;

  &.Ebola {
    color: $ebola-md;
    -webkit-text-stroke-color: $ebola-color;
    -webkit-text-stroke-width: 1px;
  }

  &.COVID-19 {
    color: $covid-md;
    -webkit-text-stroke-color: $covid-color;
    -webkit-text-stroke-width: 1px;
  }

  &.Lassa {
    color: $lassa-md;
    -webkit-text-stroke-color: $lassa-color;
    -webkit-text-stroke-width: 1px;
  }

  &.Control {
    color: $grey-400;
    -webkit-text-stroke-color: $grey-600;
    -webkit-text-stroke-width: 1px;
  }

  &.Unknown {
    color: $grey-200;
    -webkit-text-stroke-color: $grey-400;
    -webkit-text-stroke-width: 1px;
  }
}
// --- fonts ---

.cohort-group {
  font-size: 1.35em;
  flex-shrink: 0;
}

.altIDs {
  color: $grey-400;
  font-size: 1.25em;
  text-transform: uppercase;
  margin-bottom: 0.5em;

  &:not(:first-of-type) {
    margin-left: 50px;
  }
}

.provenance {
  flex-grow: 1;
}

.panel-group {
  margin-bottom: 10px !important;
}

.mat-expansion-panel-header,
.panel-header {
  background: $grey-200 !important;
  border-radius: 4px 4px 0px 0px !important;
}

:host ::ng-deep .mat-expansion-panel-body {
  background: $grey-50 !important;
  padding-top: 5px !important;
}


.panel-title {
  // padding: 5px 15px;
  // margin-top: 10px;
  text-transform: uppercase;
  color: $grey-500;
  font-weight: 300;
  font-size: 1.15em;
  align-items: center;
}

.data-title {
  margin-bottom: 0.5em;
}

.header-icon {
  margin-right: 25px;
}
