<div class="container" id="patientID" *ngIf="patient">
  <div class="patient-container">

    <app-patient-nav class="nav patient-nav" [ngClass]="patient.cohort" [cohort]="patient.cohort"></app-patient-nav>

    <div class="patient-content">

      <!-- NAV: ID + cohort -->
      <div class="patient-header">
        <div class="page-header" [ngClass]="patient.cohort">
          <h1>Patient {{ patient.patientLabel }}</h1>
        </div>

        <div class="cohort-group">
          <span class="cohort" [ngClass]="patient.cohort">{{ patient.cohort }}</span>
          <span class="outcome" [ngClass]="[patient.outcome, patient.cohort]">{{ patient.outcome }}</span>
        </div>
      </div>

      <!-- IDS -->
      <div class="container patient-ids">
        <div class="altIDs">
          public ID: <span class="altID variable-value">{{ patientID }}</span>
        </div>

        <div class="altIDs" *ngIf="patient.alternateIdentifier">
          all IDs:
          <span class="altID variable-value" *ngFor="let id of patient.alternateIdentifier.sort()">
            {{ id }}
          </span>
        </div>






      </div>

      <!-- METADATA -->
      <div class="container patient-metadata">

        <div class="container patient-changelog">
          <div class="updated">
            updated {{patient.dateModified ? (patient.dateModified | date: 'd MMMM yyyy') : ': unknown'}}

            <button mat-button-raised>view changes</button>
          </div>

          <div class="container embargoed">
            <div class="embargoed-icon" matTooltip="embargoed for public release; do not share">
              <i class="fas fa-stopwatch"></i>
              embargoed
            </div>
          </div>


        <div class="source">
          <span class="variable-label">source:</span>
          <span class="variable-value">Center for Viral Systems Biology</span>
        </div>

        </div>


        <div class="container-column patient-demographics">
          <app-patient-demographics [patient]="patient"></app-patient-demographics>
          <app-patient-relationships [patient]="patient"></app-patient-relationships>
          <app-patient-related [patient]="patient"></app-patient-related>
        </div>

        <!-- DATES -->
        <app-patient-dates [patient]="patient"></app-patient-dates>

        <app-patient-symptoms [patient]="patient"></app-patient-symptoms>

      </div>


      <app-patient-samples [patient]="patient"></app-patient-samples>

      <!-- CITATIONS -->
      <div class="patient-citations">
        <h4 class="patient" id="citations">Cited in</h4>
        <app-patient-citations [publications]="publications"></app-patient-citations>
      </div>


      <!-- DATA -->
      <div class="patient-data">
        <h4 class="patient" id="data">Data</h4>
        <!-- icons of available experiments -->
        <div class="expt-type mat-shadow" [ngClass]="expt.identifier" *ngFor="let expt of exptTypes" [matTooltip]="expt.name" matTooltipPosition="above">
          <a [routerLink]="['../', patient.patientID]" [fragment]="expt.name | stripWhitespace">
            <svg-icon [icon]="expt.identifier" [ngClass]="expt.identifier + '-icon'"></svg-icon>
          </a>
        </div>

        <app-patient-elisas [patient]="patient"></app-patient-elisas>

        <div id="HLA-sequencing">
          <app-patient-hla [patient]="patient" [files]="HLAFiles"></app-patient-hla>
        </div>

        <div id="viral-sequencing">
          <app-patient-viral-seq [sequences]="viralSeq" [files]="viralFiles" [patientID]="patient.patientID"></app-patient-viral-seq>
        </div>

        <!-- <div id="Systems-Serology">
          <app-patient-serology [patient]="patient"></app-patient-serology>
        </div> -->

      </div>
    </div>
  </div>

</div>
