<div class="container" id="patientID" *ngIf="patient">
  <div class="patient-container">

    <app-patient-nav class="nav patient-nav" [ngClass]="patient.cohort" [cohort]="patient.cohort"></app-patient-nav>

    <div class="patient-content">

      <!-- NAV: ID + cohort -->
      <div class="patient-header">
        <div class="page-header" [ngClass]="patient.cohort">
          <h1 *ngIf="patient.alternateIdentifier">Patient {{ patient.alternateIdentifier.sort()[0] }}</h1>
          <h1 *ngIf="!patient.alternateIdentifier">Patient {{ patient.patientID }}</h1>
        </div>

        <div class="cohort-group">
          <span class="cohort" [ngClass]="patient.cohort">{{ patient.cohort }}</span>
          <span class="outcome" [ngClass]="[patient.outcome, patient.cohort]">{{ patient.outcome }}</span>
        </div>
      </div>

      <!-- IDS -->
      <div class="container patient-ids">
        <div class="container-column column-left">
          <div class="updated">
            updated: {{patient.dateModified ? (patient.dateModified | date: 'd MMMM yyyy') : 'unknown'}}
          </div>

          <div class="altIDs">
            public ID: <span class="altID variable-value">{{ patientID }}</span>
          </div>

          <div class="altIDs" *ngIf="patient.alternateIdentifier">
            all IDs:
            <span class="altID variable-value" *ngFor="let id of patient.alternateIdentifier.sort()">
              {{ id }}
            </span>
          </div>
        </div>

        <!-- DATES -->
        <div class="container-column column-right">
          <app-patient-dates [patient]="patient"></app-patient-dates>
        </div>

      </div>

      <!-- METADATA -->
      <div class="container patient-metadata">
        <div class="container-column patient-demographics">
          <app-patient-demographics [patient]="patient"></app-patient-demographics>
          <app-patient-relationships [patient]="patient"></app-patient-relationships>
          <app-patient-related [patient]="patient"></app-patient-related>
        </div>

        <app-patient-samples [patient]="patient"></app-patient-samples>


        <app-patient-elisas [patient]="patient"></app-patient-elisas>

        <app-patient-symptoms [patient]="patient"></app-patient-symptoms>

      </div>

      <!-- CITATIONS -->
      <div class="patient-citations">
        <h4 class="patient" id="citations">Cited in</h4>
        <app-patient-citations [publications]="publications"></app-patient-citations>
      </div>


      <!-- DATA -->
      <div class="patient-data">
        <h4 class="patient" id="data">Data</h4>
        <!-- icons of available experiments -->
        <div class="expt-type mat-shadow" *ngFor="let expt of exptTypes">
          <svg-icon [icon]="expt.key" [class]="expt.key"></svg-icon>
        </div>

        <app-patient-hla [patient]="patient"></app-patient-hla>
        <app-patient-viral-seq [sequences]="viralSeq"></app-patient-viral-seq>

        <app-patient-serology [patient]="patient"></app-patient-serology>
      </div>
    </div>
  </div>

</div>
