@import '../../../sass/material-theme.scss';

.symptom-true {
  & .fas {
    color: #dedae7;
  }

  & .far {
    color: #8c77bb;
  }
}

.symptom-false {
  & .fas {
    // color: accent(50);
    color: white;
  }

  & .far {
    // color: accent(200);
    color: $grey-200;
  }
}

th {
  font-weight: 300;
  text-align: right;
}

.symptom-unavailable {
  color: $grey-200;
  padding-left: 7px;
}
