@import '../sass/variables.scss'; // custom variables, usually colors

.router-outlet {
  margin: 8px;
  padding: 10px $lr-padding;
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body    { margin: 0; }

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
