@import '../../sass/variables';
@import '../../sass/material-theme';

.page-header {
  h1 {
    color: lighten($ebola-md, 5%);
    -webkit-text-stroke-color: $ebola-color;
    -webkit-text-stroke-width: 1px;
  }
}
