@use '~@angular/material' as mat;
@import '../../../sass/material-theme.scss';
@include mat.expansion-theme($candy-app-theme);

.clear-filter {
  justify-content: space-between;
}

.filter-expansion-panel {
  margin-bottom: 3px;
}

.filter-header {
  flex-basis: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  align-items: center;

  & h3 {
    margin: 0;
    font-weight: 300;
    text-transform: lowercase;
    margin-right: 15px;
  }
}
