<div class="filter-container" *ngIf='patientSummary'>
  <div class="filter-header">
    <div class="container">
      <h2>{{ patientSummary.total }} of {{ total_patients }} Patients Selected</h2>

      <div class="pull-right">
        <app-filter-search endpoint="patient" *ngIf="authenticated"></app-filter-search>
        <!-- <app-filter-search endpoint="patient" [query]="searchQuery"></app-filter-search> -->

        <button mat-stroked-button (click)="clearFilters()">clear filters</button>
      </div>

    </div>

  </div>


  <div class="filter-item filter-patients">
    <app-filter-patient-id [all_patients]="all_patients" [patients]="patientSummary.patientIDs" endpoint="patient"></app-filter-patient-id>
  </div>

  <div class="filter-item filter-patient-types">
    <app-filter-patient-type [viruses]="patientSummary.patientTypes" [outcomes]="patientSummary.patientOutcomes" [all_cohorts]="all_cohorts" [all_outcomes]="all_outcomes" endpoint="patient"></app-filter-patient-type>
  </div>

  <div class="filter-item filter-elisas">
    <app-filter-elisas></app-filter-elisas>
  </div>

  <div class="filter-item filter-dates">
    <app-filter-sample-year [data]="patientSummary.patientYears" [yearDomain]="all_years" endpoint="patient"></app-filter-sample-year>
  </div>

  <div class="filter-item filter-expts">
    <!-- <app-filter-experiment [expts]="patientSummary.exptTypes"></app-filter-experiment> -->
  </div>

  <div class="filter-item filter-ctry">
    <app-filter-location [countries]="patientSummary.patientCountries" endpoint="patient" [all_countries]="all_countries"></app-filter-location>
  </div>
</div>
