<ng-container *ngIf="loggedIn; else gotologin">
  <h2>Logout</h2>

  <p>Hi {{ user.name }}!</p>

  <p>
    <button type="button" mat-raised-button color="primary" (click)="logout()">Logout</button>
  </p>
</ng-container>

<ng-template #gotologin>
  <h2>Login to continue</h2>

  <p *ngIf="prodEnvironment === false">
    <span class="dev-warning">Access to the development server is restricted to the CViSB dev team.</span>
     Please visit <a href="https://data.cvisb.org/home">data.cvisb.org</a> to view the most recent data.
  </p>


  <p *ngIf="prodEnvironment === true">
    Access to {{ page === "/" ? "parts of this site": page }} is restricted to CViSB users. Please login.
  </p>


  <p>{{ message ? message : '' }}</p>

  <p>
    <button type="button" mat-raised-button color="primary" (click)="login()">Login</button>
  </p>
</ng-template>
