  <div class="container sample-timepoints" *ngIf="samples && samples.length > 0; else no_data">
    <div class="sample" *ngFor="let sample of samples" [matTooltip]="sample.sampleType + ' sample at ' + sample.sampleGroup + ' timepoint ' + sample.visitCode" (click)="showSampleMD($event, sample)">
      <span class="sample-type">{{ sample.sampleType }}</span> -
      <span class="sample-timepoint">
      {{ sample.sampleGroup === "acute" ? "G" : "S"}}{{ sample.visitCode }}
    </span>
    </div>
  </div>

  <ng-template #no_data>
    <span class="nodata" *ngIf="showMissing">no known samples</span>
  </ng-template>
