@import "../../sass/variables.scss";

.sample {
  font-size: 0.85em;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid $grey-200;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background: lighten($cvisb-bright, 45%);
  }
}
