@import '../../sass/variables.scss';

.dataset-container {
  display: flex;
  flex: 1;

  h2 {
    margin-bottom: 0;
  }
}

.dataset-content {
  flex: 1;
}

.dataset-nav {
  flex: 0 0 12em;
  order: -1;
  // margin: -18px 2em -18px -63px;
  // padding-top: 149px;
  // 18+98+27+22-16;
  background: lighten($cvisb-theme, 40%);
  padding-top: 225px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 12em;
  overflow-x: hidden;
}

.container-dataset-name {
  align-items: center;
}

.dataset-description, .dataset-name {
  flex: 1;
}

h2.container-title {
  margin-top: 0;
}

.dataset-header {
  margin-top: 0.75em;
}

.download-link {
  margin: 3.5rem 0;
}
