<div class="filter-species container">
  <h4 class="filter-label">species</h4>

  <div class="container species-list">
    <!-- Checkboxes -->
    <!-- <mat-checkbox>
      <div class="species human">human</div>
    </mat-checkbox>

    <mat-checkbox>
      <div class="species monkey">monkey</div>
    </mat-checkbox>

    <mat-checkbox>
      <div class="species rat">rodent</div>
    </mat-checkbox> -->

    <!-- Buttons -->
    <button mat-button>
      <div class="species human">human</div>
    </button>

    <button mat-button>
    <div class="species monkey">monkey</div>
    </button>

    <button mat-button>
      <div class="species rat">rodent</div>
    </button>
  </div>
</div>
