@import '../../sass/variables.scss';
@import '../../sass/material-theme';

.dwnld-btn {
  text-transform: uppercase;
  font-weight: 300;
}

.dwnld-btn {
  &.patients {
    background: lighten($ebola-lt, 10%);
    border: 1px solid $ebola-color;
    color: $ebola-color;
  }

  &.patients.mat-button.mat-stroked-button .mat-button-focus-overlay {
    background-color: #c2185b25;
  }

  &.samples {
    background: lighten(accent-redder(200), 14%);
    border: 1px solid accent-redder(500);
    color: accent-redder(A700);
  }

  &.samples.mat-button.mat-stroked-button .mat-button-focus-overlay {
    background-color: #fdb09b66;
  }
}
