<div class="filter filter-expts">
  <h4 class="filter-label">ELISA result</h4>

<p>
  Ebola
</p>
  <table>
    <tr>
      <th>

      </th>
      <th class="checkbox-group" [id]="test" *ngFor="let result of elisa_results" [id]="result.result">
        <mat-icon>{{ result.icon }}</mat-icon>
      </th>
    </tr>


  <tr *ngFor="let test of elisa_tests">
    <th class="elisa-type">
      {{ test }}
    </th>

    <td class="checkbox-group" [id]="test" *ngFor="let result of elisa_results" [id]="result.result">
      <mat-checkbox checked="true" [color]="result.result === 'positive' ? 'warn' : (result.result === 'negative' ? 'accent' : 'primary')"></mat-checkbox>
    </td>
  </tr>

</table>

</div>
