@import '../../../sass/variables.scss';
@import '../../../sass/material-theme.scss';

th {
  line-height: 0 !important;
}

#positive {
  color: accent-redder(A700);
  // color: map-get($mat-pink, A700);
  // color: $ebola-md;
}

#negative {
  color: $sierraleone-blue;
}

#unknown {
  color: $grey-400;
}

.elisa-group {
  align-items: center;
}

.virus-name {
  font-size: 0.85em;
  text-align: center;
  height: 1.25em;
  font-weight: 300;
}

.form-selector {
  margin-right: 15px;
}

#elisa-virus {
  width: 100px;
}

#elisa-assay {
  width: 95px;
}

#elisa-result {
  width: 120px;
}

#elisa-timepoint {
  width: 150px;
}

#elisa-assay,
#elisa-result,
#elisa-timepoint,
#elisa-virus {
  & mat-select-trigger {
    font-size: 0.8em;
  }
}

.and-or-container {
  justify-content: center;
}

#elisa-connector {
  width: 75px;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background: lighten($cvisb-bright, 47%) !important;
  border-radius: 4px 4px 0 0;
  padding: 0 0.50em 0 0.75em !important;
}
