<ol class="data-terms">
  <li>
    Do not link or combine these data to other information or archived data available in a way that could re-identify the research participants.
  </li>

  <li>
    All data provided at this site must be cited as given at <a routerLink="/citation" target="_blank" rel="noreferrer">https://data.cvisb.org/citation</a>.
  </li>

  <li>
    Full terms are available at <a routerLink="/terms" target="_blank" rel="noreferrer">https://data.cvisb.org/terms</a>.
  </li>
</ol>
