@import '../../sass/variables.scss';
@import '../../sass/material-theme.scss';
$icon-size: 50px;
// .grid-container {
//   display: grid;
//   grid-template-columns: repeat(12, [col-start] 1fr);
//   grid-gap: 20px;
//   // background-color: #2196F3;
//   padding: 10px;
//   margin-top: 25px;
// }
//
// .grid-item {
//   padding: 5px;
// }

.dataset-header {
  flex: 1;
  margin-right: 15px;
  background: $grey-50;
  border-right: $grey-200 7px solid;
  padding: 15px;
}

.dataset-list {
  // background: red;
  // grid-column: col-start 1 / span 8;
  // grid-row: 1;
}

.metadata {
  // background: tomato;
  // grid-column: col-start 9 / span 4;
  // grid-row: 1;
}

.page-header {
  color: $lassa-md;
  -webkit-text-stroke-color: $lassa-color;
  -webkit-text-stroke-width: 1px;
}

.dataset {
  margin-bottom: 50px;
}

.container-header {
  align-items: center;
  justify-content: space-between;
}

svg-icon {
  height: $icon-size;
  width: $icon-size;
  vertical-align: middle;
  margin: 0 !important;
}

h4 {
  // margin-top: 8px;
  // margin-left: 13px;
  margin: 0;
}

.dataset-icon {
  // margin-top: auto;
}

.container-title {
  align-items: center;
}


h4.container-column {
   flex: 1;
}
